<div class="show">
  <div class="flash-show">
    <%= flash[:notice] %>
  </div>
  <div class="show-list">
    <div class="show-title">
      <h4>Title:</h4>
      <p class="show-push"><%= @book.title %></p>
     </div>

    <div class="show-body">
      <h4>Body:</h4>
      <p class="show-push"><%= @book.body %></p>
    </div>
  </div>
  <p><%= link_to "Edit",edit_book_path(@book.id) %> | <%= link_to "Back",books_path %></p>
</div>